#calendar {
  max-width: 900px;
  margin: 0 auto;
}

#title{
  color: #9c27b0;
  font-weight: 800;
  border-bottom: 3px solid coral;
  background: #ccc;
  padding: 8px 30px;
}

/****************/
input {
  display: none;
}


.fc-content{
  color: #fff !important;
  display: flex !important;
  /* justify-content: center !important; */
  align-items: center !important;
}

.fc-time{
  padding: 0 5px !important;
}



#btnCerrar{
  color:crimson;
  padding: 5px;
  background: #8888;
  border-radius: 25px;
  font-size: 17px;
  font-weight: 600;
}
#btnCerrar:hover{
  cursor: pointer;
  background-color: #333;
}



.circu{
  padding: 25px;
  background: #ccc;
  border-radius: 50px;
}

#grupoRadio label:hover{
  cursor: pointer;
}

#grupoRadio input[type="radio"]:checked + label {
  border: 3px solid #ccc !important;  
}


.activado input[type=radio]:checked + label {
  border: 3px solid #555 !important;  
}

.modalUpdate .modal-dialog{
  min-width: 90vw !important;
}

/* Estilos para el contenedor de las tarjetas */
#contenedorTarjetas {
  max-height: 200px; /* Altura fija */
  overflow-x: auto; /* Desbordamiento horizontal con barra de desplazamiento */
  white-space: nowrap; /* Evitar el salto de línea */
}

/* Estilos para las tarjetas */
.tarjeta {
  display: inline-block;
  width: 150px; /* Ancho fijo */
  margin-right: 10px; /* Espacio entre tarjetas */
  border: 1px solid #ccc; /* Borde predeterminado */
  padding: 10px;
  cursor: pointer; /* Cambiar el cursor a mano */
}

/* Estilo para tarjeta seleccionada */
.tarjeta.selected {
  border-color: #007bff; /* Cambiar el borde a color primario */
}

/* Estilos para la imagen */
.imagenProducto {
  width: 100%; /* Ancho completo */
  height: 100px; /* Altura fija */
  object-fit: cover; /* Escalar la imagen para que se ajuste */
  margin-bottom: 5px; /* Espacio inferior */
}