*{
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

:root {
  --color-primario: #0378E3;
  --color-secundario: #4E9BE1;
  --color-enfasis: #E1574E;
  --color-enfasis-secundario: #e49c97;
  --color-terciario: #c4daee;
}


#calendar {
  max-width: 900px;
  margin: 0 auto;
}

#title {
  color: #9c27b0;
  font-weight: 800;
  border-bottom: 3px solid coral;
  background: #ccc;
  padding: 8px 30px;
}

/****************/
input {
  display: none;
}

.fc-content {
  color: #fff !important;
  display: flex !important;
  /* justify-content: center !important; */
  align-items: center !important;
}

.fc-time {
  padding: 0 5px !important;
}

#btnCerrar {
  color: #fff;
  padding: 4px;
  margin: 2px;
  background: var(--color-enfasis);
  border-radius: 25px;
  font-size: 17px;
  font-weight: 600;
}
#btnCerrar:hover {
  cursor: pointer;
  background-color: var(--color-enfasis-secundario);
}

.circu {
  padding: 25px;
  background: #ccc;
  border-radius: 50px;
}

#grupoRadio label:hover {
  cursor: pointer;
}

#grupoRadio input[type="radio"]:checked + label {
  border: 3px solid #ccc !important;
}

.activado input[type="radio"]:checked + label {
  border: 3px solid #555 !important;
}

.modalUpdate .modal-dialog {
  min-width: 90vw !important;
}

/* Estilos para el contenedor de las tarjetas */
#contenedorTarjetas {
  max-height: 200px; /* Altura fija */
  overflow-x: auto; /* Desbordamiento horizontal con barra de desplazamiento */
  white-space: nowrap; /* Evitar el salto de línea */
}

/* Estilos para las tarjetas */
.tarjeta {
  display: inline-block;
  width: 150px; /* Ancho fijo */
  margin-right: 10px; /* Espacio entre tarjetas */
  border: 1px solid #ccc; /* Borde predeterminado */
  padding: 10px;
  cursor: pointer; /* Cambiar el cursor a mano */
}

/* Estilo para tarjeta seleccionada */
.tarjeta.selected {
  border-color: #007bff; /* Cambiar el borde a color primario */
}

/* Estilos para la imagen */
.imagenProducto {
  width: 100%; /* Ancho completo */
  height: 100px; /* Altura fija */
  object-fit: cover; /* Escalar la imagen para que se ajuste */
  margin-bottom: 5px; /* Espacio inferior */
}

/* Estilo para el elemento li en estado de hover */
.modal-body ul li:hover {
  background-color: #f0f0f0; /* Cambia el color de fondo al pasar el mouse */
}

/* Estilo para el enlace dentro del elemento li */
.modal-body ul li a {
  display: block;
  padding: 5px 0;
  text-decoration: none; /* Quita la subrayado que indica un enlace */
  color: inherit; /* Hereda el color del texto del elemento padre */
}

/* Estilo para el enlace dentro del elemento li cuando se pasa el mouse */
.modal-body ul li a:hover {
  color: inherit; /* Mantiene el color del texto al pasar el mouse */
  text-decoration: none; /* Quita el subrayado al pasar el mouse */
}

.navbar {
  background-color: var(--color-primario) !important;
}

.nav-item a {
  color: white !important;
}

.dropMenu a {
  color: var(--color-primario) !important;
}

.fc-day-number {
  min-width: 25px;
  background-color: var(--color-primario);
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  margin: 2px;
}

.fc-center h2{
  color: var(--color-primario) ;
}

.fc-day-header span{
  color: var(--color-primario) ;
}

.fc-widget-header a{
  color: var(--color-primario) !important;
}

.fc-time span{
  color: var(--color-primario) ;
}

.fc-axis span{
  color: var(--color-primario);
}

.fc-today {
  background-color: var(--color-terciario) !important;
}

.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead{
  border-color: var(--color-primario) !important;
}

.iconMenu{
  color: #fff;
}

.nav-item:hover{
  background-color: var(--color-secundario);
}
